/*  HEADER */

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap; 
    padding: 15px 20px 15px;
    border-bottom: 1px solid #333;
    position: sticky;
    top: 0;
    left: 0; 
    right: 0;
    z-index: 1000;
    background-color: var(--bg-color); 
    max-width: 1400px;
    margin: 0 auto; 
    width: 100%;
}


.header-actions {
    display: flex;
    align-items: center;
    gap: 20px;
    /* position: relative; 
    z-index: 1002;  */
}

.nav-links {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color); 
    z-index: 1001; 
    transform: translateX(100%); 
    transition: transform 0.4s ease-in-out; 
}

.nav-links.active {
    transform: translateX(0); 
} 

.nav-categories {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 25px;
    width: 100%;
}

/* MAIN */

.container {
    max-width: 1400px;
    margin: 0 auto; 
    width: 100%;
}

.hero {
    padding: 20px;
    text-align: center; 
}

.hero h1 {
    color: var(--primary-color);
    font-size: clamp(2rem, 5vw, 2.5rem); 
    margin-bottom: 10px;
    margin-top: 0;
}

.hero p {
    margin-top: 0;
    color: #bbb;
    line-height: 1.5;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 280px), 1fr));
    grid-auto-rows: 1fr;
    padding: 20px;
    gap: 20px;
}

/* --- MEDIA QUERIES (TABLETS: 768px a 1023px) --- */
@media (min-width: 768px) {
    .navbar {
        padding: 20px 30px;
        flex-wrap: wrap; 
    }

    .nav-links {
        position: static; 
        width: auto; 
        height: auto; 
        background-color: transparent; 
        flex-direction: row;
        gap: 20px; 
        margin-top: 0;
        padding-bottom: 0;
        transform: translateX(0); 
        transition: none; 
        order: 2; 
        margin-left: auto; 
        margin-right: 30px;
    }

    .header-actions {
        order: 3;  
    }

    .nav-categories {
        flex-direction: row; 
        width: auto;
    }

    .hero {
        text-align: left; 
        padding: 20px 20px 40px 20px; 
    }
    
    .hero h1 { 
        font-size: 3.5rem; 
    }

    .hero p { 
        font-size: 1.2rem;
        max-width: 600px;
    }
}

/* ---  (ESCRITORIO: 1024px o más) --- */
@media (min-width: 1024px) {
    .navbar {
        flex-wrap: nowrap; 
    }
    
    .nav-links {
        margin-left: 40px; 
        margin-right: 0;
        gap: 30px;
    }
    
    .header-actions {
        order: 4; 
    }
    .hero p { 
        max-width: 1000px; 
    }

    .grid-container {
        padding: 2.5rem 0;
    }
}